In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['a', 'b'])

In [3]:
df.loc[0,'a'] = 1

In [4]:
df

   a    b
0  1  NaN

In [5]:
df.loc[0,'b'] = 2

In [6]:
df

   a  b
0  1  2

In [7]:
df.dtypes

a    object
b    object
dtype: object

In [8]:
df.dtypes.to_list()

[dtype('O'), dtype('O')]

In [9]:
type(df.values)

numpy.ndarray