# Exploring the Business Dataset

### Read the dataset

In [84]:
import numpy as np
import pandas as pd

In [85]:
%%time
business_df = pd.read_json('../data/business.json', lines=True)
business_df.head()

CPU times: user 3.13 s, sys: 656 ms, total: 3.79 s
Wall time: 3.95 s

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [86]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160585 entries, 0 to 160584
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   160585 non-null  object
 1   name          160585 non-null  object
 2   address       160585 non-null  object
 3   city          160585 non-null  object
 4   state         160585 non-null  object
 5   postal_code   160585 non-null  object
 6   latitude      160585 non-null  float64
 7   longitude     160585 non-null  float64
 8   stars         160585 non-null  float64
 9   review_count  160585 non-null  int64
 10  is_open       160585 non-null  int64
 11  attributes    145593 non-null  object
 12  categories    160470 non-null  object
 13  hours         133244 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 17.2+ MB

### Filter for food establishments

We now filter for establishments with the category names of restaurant, food, brunch, and breakfast as save those establishments to a new dataframe.

In [109]:
restaurant_df = business_df[business_df['categories'].str.contains('restaurant', case=False)==True].reset_index().drop('index', axis=1)
restaurant_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...","Restaurants, Thai","{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,"Breakfast & Brunch, Restaurants","{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}"
4,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,1,"{'RestaurantsGoodForGroups': 'True', 'HasTV': ...","Food, Pizza, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50788,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,OR,97224,45.394457,-122.752535,2.0,48,0,"{'RestaurantsDelivery': 'False', 'GoodForKids'...","American (Traditional), Desserts, American (Ne...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
50789,Q78fYV6B6P6GmX07YVgi4g,Maudie’s Hill Country,12506 Shops Pkwy,Bee Cave,TX,78738,30.304761,-97.937394,3.0,310,1,"{'BusinessParking': '{'garage': False, 'street...","Mexican, Bars, Nightlife, Tex-Mex, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '9:0-21:0', '..."
50790,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,1,"{'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
50791,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,OR,97209,45.529647,-122.685153,4.0,10,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","Cuban, Sandwiches, Restaurants, Cafes",None
50792,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...","Restaurants, Middle Eastern, Mediterranean, Pe...","{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."

In [110]:
restaurant_df.shape

(50793, 14)

### Expand the attributes column

In [6]:
%%time
restaurant_df = pd.concat([restaurant_df, restaurant_df['attributes'].apply(pd.Series)], axis=1).drop('attributes', axis=1)

CPU times: user 13.3 s, sys: 149 ms, total: 13.4 s
Wall time: 13.4 s

In [7]:
restaurant_df.shape

(50989, 52)

### Expand the hours column

In [8]:
restaurant_df = pd.concat([restaurant_df, restaurant_df['hours'].apply(pd.Series)], axis=1).drop('hours', axis=1)
restaurant_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Open24Hours,AcceptsInsurance,HairSpecializesIn,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,...,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0
4,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,...,NaN,NaN,NaN,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50984,Zl6SUy6x9jqjRu2HbtEO6A,Split Dine and Drink,7335 SW Bridgeport Rd,Tigard,OR,97224,45.394457,-122.752535,2.0,48,...,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-0:0,11:0-0:0,11:0-0:0,11:0-23:0
50985,Q78fYV6B6P6GmX07YVgi4g,Maudie’s Hill Country,12506 Shops Pkwy,Bee Cave,TX,78738,30.304761,-97.937394,3.0,310,...,NaN,NaN,NaN,0:0-0:0,9:0-21:0,9:0-21:0,9:0-21:0,9:0-21:30,9:0-21:30,9:0-21:0
50986,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,...,NaN,NaN,NaN,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
50987,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,OR,97209,45.529647,-122.685153,4.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50988,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,...,NaN,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,11:30-21:0,12:0-19:30

In [9]:
restaurant_df.shape

(50989, 58)

### Check for duplicates

In [10]:
restaurant_df.duplicated().value_counts()

False    50989
dtype: int64

In [11]:
restaurant_df.duplicated(subset=['business_id']).value_counts()

False    50989
dtype: int64

In [12]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  RestaurantsTableService     19198 non-null  object
 13  WiFi                        38500 non-null  object
 14  BikeParking                 35052 non-null  object
 15  BusinessParking             46001 non-null  object
 16  BusinessAcceptsCreditCards  41258 non-null  object
 17  RestaurantsReservations     43689 non-null  object
 18  WheelchairAccessible        13116 non-null  object
 19  Caters                      34576 non-null  object
 20  OutdoorSeating              44325 non-null  object
 21  RestaurantsGoodForGroups    42556 non-null  object
 22  HappyHour                   13239 non-null  object
 23  BusinessAcceptsBitcoin      6201 non-null   object
 24  RestaurantsPriceRange2      45006 non-null  object
 25  Ambience                    41246 non-null  object
 26  HasTV                       41544 non-null  object
 27  Alcohol                     40977 non-null  object
 28  GoodForMeal                 28985 non-null  object
 29  DogsAllowed                 11518 non-null  object
 30  RestaurantsTakeOut          47569 non-null  object
 31  NoiseLevel                  35804 non-null  object
 32  RestaurantsAttire           40472 non-null  object
 33  RestaurantsDelivery         46445 non-null  object
 34  GoodForKids                 42067 non-null  object
 35  ByAppointmentOnly           3556 non-null   object
 36  Music                       5420 non-null   object
 37  GoodForDancing              3720 non-null   object
 38  BestNights                  4341 non-null   object
 39  BYOB                        3363 non-null   object
 40  CoatCheck                   3993 non-null   object
 41  Smoking                     3365 non-null   object
 42  DriveThru                   4749 non-null   object
 43  BYOBCorkage                 3664 non-null   object
 44  Corkage                     3897 non-null   object
 45  RestaurantsCounterService   40 non-null     object
 46  DietaryRestrictions         67 non-null     object
 47  AgesAllowed                 19 non-null     object
 48  Open24Hours                 32 non-null     object
 49  AcceptsInsurance            8 non-null      object
 50  HairSpecializesIn           3 non-null      object
 51  Monday                      38509 non-null  object
 52  Tuesday                     40292 non-null  object
 53  Wednesday                   41778 non-null  object
 54  Thursday                    42390 non-null  object
 55  Friday                      42575 non-null  object
 56  Saturday                    41102 non-null  object
 57  Sunday                      35971 non-null  object
dtypes: float64(3), int64(2), object(53)
memory usage: 22.6+ MB

### Drop Columns with Excessive % of Missing values

In [13]:
restaurant_df2 = restaurant_df.copy()

# Verfiy
restaurant_df2.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,Open24Hours,AcceptsInsurance,HairSpecializesIn,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,...,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0
4,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,...,NaN,NaN,NaN,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,NaN

In [14]:
restaurant_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  RestaurantsTableService     19198 non-null  object
 13  WiFi                        38500 non-null  object
 14  BikeParking                 35052 non-null  object
 15  BusinessParking             46001 non-null  object
 16  BusinessAcceptsCreditCards  41258 non-null  object
 17  RestaurantsReservations     43689 non-null  object
 18  WheelchairAccessible        13116 non-null  object
 19  Caters                      34576 non-null  object
 20  OutdoorSeating              44325 non-null  object
 21  RestaurantsGoodForGroups    42556 non-null  object
 22  HappyHour                   13239 non-null  object
 23  BusinessAcceptsBitcoin      6201 non-null   object
 24  RestaurantsPriceRange2      45006 non-null  object
 25  Ambience                    41246 non-null  object
 26  HasTV                       41544 non-null  object
 27  Alcohol                     40977 non-null  object
 28  GoodForMeal                 28985 non-null  object
 29  DogsAllowed                 11518 non-null  object
 30  RestaurantsTakeOut          47569 non-null  object
 31  NoiseLevel                  35804 non-null  object
 32  RestaurantsAttire           40472 non-null  object
 33  RestaurantsDelivery         46445 non-null  object
 34  GoodForKids                 42067 non-null  object
 35  ByAppointmentOnly           3556 non-null   object
 36  Music                       5420 non-null   object
 37  GoodForDancing              3720 non-null   object
 38  BestNights                  4341 non-null   object
 39  BYOB                        3363 non-null   object
 40  CoatCheck                   3993 non-null   object
 41  Smoking                     3365 non-null   object
 42  DriveThru                   4749 non-null   object
 43  BYOBCorkage                 3664 non-null   object
 44  Corkage                     3897 non-null   object
 45  RestaurantsCounterService   40 non-null     object
 46  DietaryRestrictions         67 non-null     object
 47  AgesAllowed                 19 non-null     object
 48  Open24Hours                 32 non-null     object
 49  AcceptsInsurance            8 non-null      object
 50  HairSpecializesIn           3 non-null      object
 51  Monday                      38509 non-null  object
 52  Tuesday                     40292 non-null  object
 53  Wednesday                   41778 non-null  object
 54  Thursday                    42390 non-null  object
 55  Friday                      42575 non-null  object
 56  Saturday                    41102 non-null  object
 57  Sunday                      35971 non-null  object
dtypes: float64(3), int64(2), object(53)
memory usage: 22.6+ MB

In [15]:
missing_value_counts = (restaurant_df2.isna().sum()/restaurant_df2.shape[0]*100).sort_values(ascending=False)

cols_to_drop = missing_value_counts[missing_value_counts>30]
print(f'Number of columns with >30% missing values: {cols_to_drop.shape[0]}')
cols_to_drop

Number of columns with >30% missing values: 24

HairSpecializesIn            99.994116
AcceptsInsurance             99.984310
AgesAllowed                  99.962737
Open24Hours                  99.937241
RestaurantsCounterService    99.921552
DietaryRestrictions          99.868599
BYOB                         93.404460
Smoking                      93.400537
ByAppointmentOnly            93.025947
BYOBCorkage                  92.814136
GoodForDancing               92.704309
Corkage                      92.357175
CoatCheck                    92.168899
BestNights                   91.486399
DriveThru                    90.686226
Music                        89.370256
BusinessAcceptsBitcoin       87.838553
DogsAllowed                  77.410814
WheelchairAccessible         74.276805
HappyHour                    74.035576
RestaurantsTableService      62.348742
GoodForMeal                  43.154406
Caters                       32.189296
BikeParking                  31.255761
dtype: float64

In [16]:
restaurant_df2.drop(cols_to_drop.index, axis=1, inplace=True)
restaurant_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  WiFi                        38500 non-null  object
 13  BusinessParking             46001 non-null  object
 14  BusinessAcceptsCreditCards  41258 non-null  object
 15  RestaurantsReservations     43689 non-null  object
 16  OutdoorSeating              44325 non-null  object
 17  RestaurantsGoodForGroups    42556 non-null  object
 18  RestaurantsPriceRange2      45006 non-null  object
 19  Ambience                    41246 non-null  object
 20  HasTV                       41544 non-null  object
 21  Alcohol                     40977 non-null  object
 22  RestaurantsTakeOut          47569 non-null  object
 23  NoiseLevel                  35804 non-null  object
 24  RestaurantsAttire           40472 non-null  object
 25  RestaurantsDelivery         46445 non-null  object
 26  GoodForKids                 42067 non-null  object
 27  Monday                      38509 non-null  object
 28  Tuesday                     40292 non-null  object
 29  Wednesday                   41778 non-null  object
 30  Thursday                    42390 non-null  object
 31  Friday                      42575 non-null  object
 32  Saturday                    41102 non-null  object
 33  Sunday                      35971 non-null  object
dtypes: float64(3), int64(2), object(29)
memory usage: 13.2+ MB

In [17]:
from ast import literal_eval

In [18]:
restaurant_df2.iloc[:5,:17]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories,WiFi,BusinessParking,BusinessAcceptsCreditCards,RestaurantsReservations,OutdoorSeating
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"Gastropubs, Food, Beer Gardens, Restaurants, B...",u'free',"{'garage': False, 'street': True, 'validated':...",True,False,True
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",u'free',"{'garage': True, 'street': False, 'validated':...",True,False,False
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"Restaurants, Thai",u'no',"{'garage': False, 'street': True, 'validated':...",NaN,True,False
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,"Breakfast & Brunch, Restaurants",NaN,NaN,NaN,NaN,NaN
4,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,1,"Food, Pizza, Restaurants",u'free',"{'garage': False, 'street': False, 'validated'...",True,False,True

In [19]:
restaurant_df2.iloc[:5,17:]

,RestaurantsGoodForGroups,RestaurantsPriceRange2,Ambience,HasTV,Alcohol,RestaurantsTakeOut,NoiseLevel,RestaurantsAttire,RestaurantsDelivery,GoodForKids,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,True,2,"{'touristy': False, 'hipster': False, 'romanti...",True,'beer_and_wine',True,u'average','casual',None,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,False,2,"{'romantic': False, 'intimate': False, 'touris...",False,u'beer_and_wine',True,u'average',u'casual',False,True,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,True,2,"{'romantic': False, 'intimate': False, 'classy...",False,u'none',True,u'average',u'casual',True,True,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0
4,True,2,"{'romantic': False, 'intimate': False, 'classy...",True,u'none',True,'average',u'casual',True,True,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,NaN

In [20]:
restaurant_df3 = restaurant_df2.copy()

In [21]:
restaurant_df3['RestaurantsPriceRange2'].value_counts()

2       22509
1       20434
3        1808
4         247
None        8
Name: RestaurantsPriceRange2, dtype: int64

In [22]:
restaurant_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  WiFi                        38500 non-null  object
 13  BusinessParking             46001 non-null  object
 14  BusinessAcceptsCreditCards  41258 non-null  object
 15  RestaurantsReservations     43689 non-null  object
 16  OutdoorSeating              44325 non-null  object
 17  RestaurantsGoodForGroups    42556 non-null  object
 18  RestaurantsPriceRange2      45006 non-null  object
 19  Ambience                    41246 non-null  object
 20  HasTV                       41544 non-null  object
 21  Alcohol                     40977 non-null  object
 22  RestaurantsTakeOut          47569 non-null  object
 23  NoiseLevel                  35804 non-null  object
 24  RestaurantsAttire           40472 non-null  object
 25  RestaurantsDelivery         46445 non-null  object
 26  GoodForKids                 42067 non-null  object
 27  Monday                      38509 non-null  object
 28  Tuesday                     40292 non-null  object
 29  Wednesday                   41778 non-null  object
 30  Thursday                    42390 non-null  object
 31  Friday                      42575 non-null  object
 32  Saturday                    41102 non-null  object
 33  Sunday                      35971 non-null  object
dtypes: float64(3), int64(2), object(29)
memory usage: 13.2+ MB

In [23]:
restaurant_df3['OutdoorSeating'].value_counts()

False    21455
True     20640
None      2230
Name: OutdoorSeating, dtype: int64

In [24]:
cols_to_drop_indices = [13, 15, 17, 20, 22, 25, 26]
cols_to_drop = []

for i in cols_to_drop_indices:
    cols_to_drop.append(restaurant_df3.columns[i])
    
cols_to_drop

['BusinessParking',
 'RestaurantsReservations',
 'RestaurantsGoodForGroups',
 'HasTV',
 'RestaurantsTakeOut',
 'RestaurantsDelivery',
 'GoodForKids']

In [25]:
restaurant_df3.drop(columns=cols_to_drop, inplace=True)
restaurant_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  WiFi                        38500 non-null  object
 13  BusinessAcceptsCreditCards  41258 non-null  object
 14  OutdoorSeating              44325 non-null  object
 15  RestaurantsPriceRange2      45006 non-null  object
 16  Ambience                    41246 non-null  object
 17  Alcohol                     40977 non-null  object
 18  NoiseLevel                  35804 non-null  object
 19  RestaurantsAttire           40472 non-null  object
 20  Monday                      38509 non-null  object
 21  Tuesday                     40292 non-null  object
 22  Wednesday                   41778 non-null  object
 23  Thursday                    42390 non-null  object
 24  Friday                      42575 non-null  object
 25  Saturday                    41102 non-null  object
 26  Sunday                      35971 non-null  object
dtypes: float64(3), int64(2), object(22)
memory usage: 10.5+ MB

In [26]:
for i in range(12, 19):
    col = restaurant_df3.columns[i]
    print(f'{i}: Column: {col}; # of unique values: {len(restaurant_df3[col].unique())}')
    
    if len(restaurant_df3[col].unique()) <= 10:
        print(f'Unique values: {restaurant_df3[col].unique()}')
        
    else:
        print('More than 10 unique values')
    print('\n')

12: Column: WiFi; # of unique values: 8
Unique values: ["u'free'" "u'no'" nan "'free'" "'no'" "u'paid'" "'paid'" 'None']


13: Column: BusinessAcceptsCreditCards; # of unique values: 4
Unique values: ['True' nan 'False' 'None']


14: Column: OutdoorSeating; # of unique values: 4
Unique values: ['True' 'False' nan 'None']


15: Column: RestaurantsPriceRange2; # of unique values: 6
Unique values: ['2' nan '1' '4' '3' 'None']


16: Column: Ambience; # of unique values: 1562
More than 10 unique values


17: Column: Alcohol; # of unique values: 8
Unique values: ["'beer_and_wine'" "u'beer_and_wine'" "u'none'" nan "'none'" "'full_bar'"
 "u'full_bar'" 'None']


18: Column: NoiseLevel; # of unique values: 10
Unique values: ["u'average'" nan "'average'" "u'quiet'" "'quiet'" "'loud'" "u'loud'"
 "u'very_loud'" "'very_loud'" 'None']

In [27]:
restaurant_df4 = restaurant_df3.copy()

In [28]:
def make_dictionary(ambience_string):
    if isinstance(ambience_string, str):
        return literal_eval(ambience_string)

In [29]:
from ast import literal_eval

restaurant_df4['Ambience'] = restaurant_df4['Ambience'].apply(lambda x: make_dictionary(x))
restaurant_df4['Ambience'][0]

{'touristy': False,
 'hipster': False,
 'romantic': False,
 'divey': False,
 'intimate': False,
 'trendy': False,
 'upscale': False,
 'classy': False,
 'casual': True}

In [30]:
def check_exclusivity(dictionary_column):
    non_exclusive_row_indices = []
    for i in range(0, len(dictionary_column)):
        #print(dictionary_column[i])
        dictionary = dictionary_column[i]
        if isinstance(dictionary, dict):
            
            true_count = 0
            for item in dictionary:
                if dictionary[item] == True:
                    true_count += 1
            if true_count > 1:
                non_exclusive_row_indices.append(i)
    if len(non_exclusive_row_indices) == 0:
        print('All dictionary elements are mutually exculsive.')
        return None
    else:
        print('Some dictionary elements are not mutually exclusive:')
        print(f'Number of non mutually exclusive dictionaries: {len(non_exclusive_row_indices)}')
        return non_exclusive_row_indices

In [31]:
restaurant_df4['Ambience'][1]

{'romantic': False,
 'intimate': False,
 'touristy': False,
 'hipster': False,
 'divey': False,
 'classy': False,
 'trendy': False,
 'upscale': False,
 'casual': True}

In [32]:
v = check_exclusivity(restaurant_df4['Ambience'])

Some dictionary elements are not mutually exclusive:
Number of non mutually exclusive dictionaries: 6440

In [33]:
v[0]

10

In [34]:
restaurant_df4['Ambience'][v[0]]

{'touristy': None,
 'hipster': False,
 'romantic': False,
 'divey': False,
 'intimate': False,
 'trendy': False,
 'upscale': False,
 'classy': True,
 'casual': True}

In [35]:
restaurant_df4 = pd.concat([restaurant_df4, restaurant_df4['Ambience'].apply(pd.Series)], axis=1)

In [36]:
restaurant_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  WiFi                        38500 non-null  object
 13  BusinessAcceptsCreditCards  41258 non-null  object
 14  OutdoorSeating              44325 non-null  object
 15  RestaurantsPriceRange2      45006 non-null  object
 16  Ambience                    40805 non-null  object
 17  Alcohol                     40977 non-null  object
 18  NoiseLevel                  35804 non-null  object
 19  RestaurantsAttire           40472 non-null  object
 20  Monday                      38509 non-null  object
 21  Tuesday                     40292 non-null  object
 22  Wednesday                   41778 non-null  object
 23  Thursday                    42390 non-null  object
 24  Friday                      42575 non-null  object
 25  Saturday                    41102 non-null  object
 26  Sunday                      35971 non-null  object
 27  touristy                    38540 non-null  object
 28  hipster                     37619 non-null  object
 29  romantic                    38945 non-null  object
 30  divey                       34742 non-null  object
 31  intimate                    38284 non-null  object
 32  trendy                      37394 non-null  object
 33  upscale                     39049 non-null  object
 34  classy                      38728 non-null  object
 35  casual                      39660 non-null  object
dtypes: float64(3), int64(2), object(31)
memory usage: 14.0+ MB

In [37]:
categorical_columns = ['WiFi', 'RestaurantsPriceRange2', 'Alcohol', 'NoiseLevel', 'RestaurantsAttire']
binary_columns = ['BusinessAcceptsCreditCards', 'OutdoorSeating', 'touristy', 'hipster', 'romantic', 'divey', 'intimate', 'trendy',
                  'upscale', 'classy', 'casual']

In [67]:
for col in binary_columns:
    
    restaurant_df4[col] = restaurant_df4[col].map({'True': 1, 'False': 0, True: 1, False: 0}, na_action='ignore')
    print(f'Column: {col}; # of unique values: {len(restaurant_df4[col].unique())}')
    print(f'Unique values: {restaurant_df4[col].unique()}')
    print('\n')

Column: BusinessAcceptsCreditCards; # of unique values: 3
Unique values: [ 1. nan  0.]


Column: OutdoorSeating; # of unique values: 3
Unique values: [ 1.  0. nan]


Column: touristy; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: hipster; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: romantic; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: divey; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: intimate; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: trendy; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: upscale; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: classy; # of unique values: 3
Unique values: [ 0. nan  1.]


Column: casual; # of unique values: 3
Unique values: [ 1. nan  0.]

In [68]:
for col in categorical_columns:
    
    restaurant_df4[col] = restaurant_df4[col].str.replace("u'","")
    restaurant_df4[col] = restaurant_df4[col].str.replace("'","")
    print(f'Column: {col}; # of unique values: {len(restaurant_df4[col].unique())}')
    print(f'Unique values: {restaurant_df4[col].unique()}')
    print('\n')

Column: WiFi; # of unique values: 5
Unique values: ['free' 'no' nan 'paid' 'None']


Column: RestaurantsPriceRange2; # of unique values: 6
Unique values: ['2' nan '1' '4' '3' 'None']


Column: Alcohol; # of unique values: 5
Unique values: ['beer_and_wine' 'none' nan 'full_bar' 'None']


Column: NoiseLevel; # of unique values: 6
Unique values: ['average' nan 'quiet' 'loud' 'very_loud' 'None']


Column: RestaurantsAttire; # of unique values: 5
Unique values: ['casual' nan 'dressy' 'formal' 'None']

In [73]:
restaurant_df4['state'].value_counts()

MA     10621
FL      7729
BC      7523
OR      7431
GA      6156
TX      5485
OH      4390
CO       871
WA       776
MN         1
VA         1
KS         1
NH         1
KY         1
WY         1
ABE        1
Name: state, dtype: int64

In [74]:
restaurant_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50989 entries, 0 to 50988
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 50989 non-null  object
 1   name                        50989 non-null  object
 2   address                     50989 non-null  object
 3   city                        50989 non-null  object
 4   state                       50989 non-null  object
 5   postal_code                 50989 non-null  object
 6   latitude                    50989 non-null  float64
 7   longitude                   50989 non-null  float64
 8   stars                       50989 non-null  float64
 9   review_count                50989 non-null  int64
 10  is_open                     50989 non-null  int64
 11  categories                  50989 non-null  object
 12  WiFi                        38500 non-null  object
 13  BusinessAcceptsCreditCards  41254 non-null  float64
 14  OutdoorSeating              42095 non-null  float64
 15  RestaurantsPriceRange2      45006 non-null  object
 16  Ambience                    40805 non-null  object
 17  Alcohol                     40977 non-null  object
 18  NoiseLevel                  35804 non-null  object
 19  RestaurantsAttire           40472 non-null  object
 20  Monday                      38509 non-null  object
 21  Tuesday                     40292 non-null  object
 22  Wednesday                   41778 non-null  object
 23  Thursday                    42390 non-null  object
 24  Friday                      42575 non-null  object
 25  Saturday                    41102 non-null  object
 26  Sunday                      35971 non-null  object
 27  touristy                    38540 non-null  float64
 28  hipster                     37619 non-null  float64
 29  romantic                    38945 non-null  float64
 30  divey                       34742 non-null  float64
 31  intimate                    38284 non-null  float64
 32  trendy                      37394 non-null  float64
 33  upscale                     39049 non-null  float64
 34  classy                      38728 non-null  float64
 35  casual                      39660 non-null  float64
dtypes: float64(14), int64(2), object(20)
memory usage: 14.0+ MB

We have a significant number of binary attributes with missing values. If the attributes listed here were provided by users who visited the establishment, we cannot be sure that a restaurant does not have a particular attribute just because it is missing from its column. However, if enough users have visited the restaurant and left reviews, then we can increase our confidence that for a given missing attribute, the restaurant does not have this attribute.

Hence we will now filter down our dataframe to contain restaurants that have had 50 or more reviews.

In [186]:
restaurant_df5 = restaurant_df4[restaurant_df4['review_count'] >= 50]
restaurant_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23371 entries, 0 to 50988
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 23371 non-null  object
 1   name                        23371 non-null  object
 2   address                     23371 non-null  object
 3   city                        23371 non-null  object
 4   state                       23371 non-null  object
 5   postal_code                 23371 non-null  object
 6   latitude                    23371 non-null  float64
 7   longitude                   23371 non-null  float64
 8   stars                       23371 non-null  float64
 9   review_count                23371 non-null  int64
 10  is_open                     23371 non-null  int64
 11  categories                  23371 non-null  object
 12  WiFi                        22101 non-null  object
 13  BusinessAcceptsCreditCards  21150 non-null  float64
 14  OutdoorSeating              21094 non-null  float64
 15  RestaurantsPriceRange2      22810 non-null  object
 16  Ambience                    22337 non-null  object
 17  Alcohol                     22286 non-null  object
 18  NoiseLevel                  21379 non-null  object
 19  RestaurantsAttire           21380 non-null  object
 20  Monday                      20117 non-null  object
 21  Tuesday                     20995 non-null  object
 22  Wednesday                   21817 non-null  object
 23  Thursday                    22128 non-null  object
 24  Friday                      22204 non-null  object
 25  Saturday                    21824 non-null  object
 26  Sunday                      19470 non-null  object
 27  touristy                    20938 non-null  float64
 28  hipster                     20275 non-null  float64
 29  romantic                    21177 non-null  float64
 30  divey                       19276 non-null  float64
 31  intimate                    20658 non-null  float64
 32  trendy                      19860 non-null  float64
 33  upscale                     21416 non-null  float64
 34  classy                      21035 non-null  float64
 35  casual                      21702 non-null  float64
dtypes: float64(14), int64(2), object(20)
memory usage: 6.6+ MB

In [187]:
missing_value_counts = (restaurant_df5.isna().sum()/restaurant_df5.shape[0]*100).sort_values(ascending=False)
missing_value_counts

divey                         17.521715
Sunday                        16.691626
trendy                        15.022892
Monday                        13.923238
hipster                       13.247187
intimate                      11.608404
touristy                      10.410338
Tuesday                       10.166446
classy                         9.995293
OutdoorSeating                 9.742844
BusinessAcceptsCreditCards     9.503230
romantic                       9.387703
NoiseLevel                     8.523384
RestaurantsAttire              8.519105
upscale                        8.365068
casual                         7.141329
Wednesday                      6.649266
Saturday                       6.619315
WiFi                           5.434085
Thursday                       5.318557
Friday                         4.993368
Alcohol                        4.642506
Ambience                       4.424287
RestaurantsPriceRange2         2.400411
latitude                       0.000000
address                        0.000000
city                           0.000000
state                          0.000000
postal_code                    0.000000
is_open                        0.000000
longitude                      0.000000
stars                          0.000000
review_count                   0.000000
categories                     0.000000
name                           0.000000
business_id                    0.000000
dtype: float64

Our missing value percentage has decreased. For the binary attribute columns with missing values, we can now impute the missing values with 0 to indicate that the attribute is missing.

In [188]:
binary_columns

['BusinessAcceptsCreditCards',
 'OutdoorSeating',
 'touristy',
 'hipster',
 'romantic',
 'divey',
 'intimate',
 'trendy',
 'upscale',
 'classy',
 'casual']

In [190]:
for col in binary_columns:
    restaurant_df5.loc[:,col].fillna(0, inplace=True)

/Users/allistaircota/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [191]:
restaurant_df5[binary_columns]

,BusinessAcceptsCreditCards,OutdoorSeating,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
50981,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
50983,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
50985,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50986,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
50988,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [192]:
restaurant_df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23371 entries, 0 to 50988
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 23371 non-null  object
 1   name                        23371 non-null  object
 2   address                     23371 non-null  object
 3   city                        23371 non-null  object
 4   state                       23371 non-null  object
 5   postal_code                 23371 non-null  object
 6   latitude                    23371 non-null  float64
 7   longitude                   23371 non-null  float64
 8   stars                       23371 non-null  float64
 9   review_count                23371 non-null  int64
 10  is_open                     23371 non-null  int64
 11  categories                  23371 non-null  object
 12  WiFi                        22101 non-null  object
 13  BusinessAcceptsCreditCards  23371 non-null  float64
 14  OutdoorSeating              23371 non-null  float64
 15  RestaurantsPriceRange2      22810 non-null  object
 16  Ambience                    22337 non-null  object
 17  Alcohol                     22286 non-null  object
 18  NoiseLevel                  21379 non-null  object
 19  RestaurantsAttire           21380 non-null  object
 20  Monday                      20117 non-null  object
 21  Tuesday                     20995 non-null  object
 22  Wednesday                   21817 non-null  object
 23  Thursday                    22128 non-null  object
 24  Friday                      22204 non-null  object
 25  Saturday                    21824 non-null  object
 26  Sunday                      19470 non-null  object
 27  touristy                    23371 non-null  float64
 28  hipster                     23371 non-null  float64
 29  romantic                    23371 non-null  float64
 30  divey                       23371 non-null  float64
 31  intimate                    23371 non-null  float64
 32  trendy                      23371 non-null  float64
 33  upscale                     23371 non-null  float64
 34  classy                      23371 non-null  float64
 35  casual                      23371 non-null  float64
dtypes: float64(14), int64(2), object(20)
memory usage: 6.6+ MB

In [193]:
restaurant_df5['Saturday'].value_counts()

11:0-22:0      1733
11:0-23:0      1223
11:0-21:0      1170
17:0-22:0       520
11:0-0:0        483
               ...
10:30-21:45       1
7:0-8:0           1
7:30-18:30        1
9:30-16:0         1
17:30-21:15       1
Name: Saturday, Length: 775, dtype: int64