# Exploring the Business Dataset

### Read the dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time
business_df = pd.read_json('../data/business.json', lines=True)
business_df.head()

CPU times: user 2.96 s, sys: 654 ms, total: 3.62 s
Wall time: 3.64 s

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."

In [3]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160585 entries, 0 to 160584
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   160585 non-null  object
 1   name          160585 non-null  object
 2   address       160585 non-null  object
 3   city          160585 non-null  object
 4   state         160585 non-null  object
 5   postal_code   160585 non-null  object
 6   latitude      160585 non-null  float64
 7   longitude     160585 non-null  float64
 8   stars         160585 non-null  float64
 9   review_count  160585 non-null  int64
 10  is_open       160585 non-null  int64
 11  attributes    145593 non-null  object
 12  categories    160470 non-null  object
 13  hours         133244 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 17.2+ MB

### Explode the Categories column

In [4]:
business_df = business_df.assign(categories = business_df['categories'].str.split(', ')).explode('categories')
business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Gastropubs,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Food,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Beer Gardens,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Restaurants,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Bars,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160584,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...",Restaurants,"{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."
160584,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...",Middle Eastern,"{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."
160584,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...",Mediterranean,"{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."
160584,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...",Persian/Iranian,"{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."
160584,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,0,"{'RestaurantsReservations': 'True', 'OutdoorSe...",Salad,"{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21..."

Note that the method above will actually create additional rows which are essentially duplicates, except that each row will contain one of the categories that were previously grouped together. We will deal with these duplicate rows later. Let us double check the shape of our dataset - the number of rows should have increased.

In [5]:
business_df.shape

(709083, 14)

As expected, the number of rows has increased from 160,585 to 709,083.

Let us examine the number of different categories in this dataset.

In [6]:
len(business_df['categories'].unique())

1331

There are 1,331 unique business categories in this dataset! Let's look at the top 40 categories.

In [7]:
business_df['categories'].value_counts().head(40)

Restaurants                  50763
Food                         29469
Shopping                     26205
Beauty & Spas                16574
Home Services                16465
Health & Medical             15102
Local Services               12192
Nightlife                    11990
Bars                         10741
Automotive                   10119
Event Planning & Services     9644
Active Life                   9231
Coffee & Tea                  7725
Sandwiches                    7272
Fashion                       6599
American (Traditional)        6541
Hair Salons                   5900
Pizza                         5756
Hotels & Travel               5703
Breakfast & Brunch            5505
Home & Garden                 5499
American (New)                5458
Real Estate                   5361
Arts & Entertainment          5314
Fast Food                     5300
Auto Repair                   5039
Professional Services         4845
Fitness & Instruction         4741
Doctors                       4700
Burgers                       4445
Specialty Food                4272
Nail Salons                   4179
Mexican                       4110
Hair Removal                  3833
Chinese                       3694
Pets                          3647
Italian                       3580
Bakeries                      3427
Skin Care                     3391
Desserts                      3295
Name: categories, dtype: int64

### Filter for food establishments

We now filter for establishments with the category names of restaurant, food, brunch, and breakfast as save those establishments to a new dataframe.

In [8]:
restaurant_df = (business_df[business_df['categories'].str.contains('restaurant|food|brunch|breakfast', case=False) == True]).reset_index(drop=True)
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Food,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Restaurants,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
2,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...",Restaurants,"{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
3,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...",Restaurants,"{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
4,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,Breakfast & Brunch,"{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}"

In [9]:
restaurant_df.shape

(106453, 14)

In [10]:
len(restaurant_df['categories'].unique())

26

There are less unique number of categories in our dataset. Let's see what these are.

In [11]:
restaurant_df['categories'].unique()

array(['Food', 'Restaurants', 'Breakfast & Brunch', 'Food Court',
       'Seafood', 'Food Delivery Services', 'Food Trucks',
       'Specialty Food', 'Ethnic Food', 'Fast Food', 'Food Stands',
       'Do-It-Yourself Food', 'Seafood Markets', 'Bed & Breakfast',
       'Comfort Food', 'Soul Food', 'Food Safety Training', 'Food Tours',
       'Live/Raw Food', 'Restaurant Supplies', 'Imported Food',
       'Pop-Up Restaurants', 'Food Banks', 'Swiss Food',
       'Dance Restaurants', 'Pub Food'], dtype=object)

In [12]:
restaurant_df['categories'].value_counts()

Restaurants               50763
Food                      29469
Breakfast & Brunch         5505
Fast Food                  5300
Specialty Food             4272
Seafood                    2958
Food Trucks                2537
Food Stands                1321
Food Delivery Services      960
Ethnic Food                 859
Comfort Food                721
Soul Food                   323
Bed & Breakfast             265
Seafood Markets             249
Imported Food               247
Food Court                  214
Do-It-Yourself Food         188
Live/Raw Food               118
Food Tours                   67
Pop-Up Restaurants           62
Restaurant Supplies          33
Food Banks                   16
Pub Food                      2
Food Safety Training          2
Dance Restaurants             1
Swiss Food                    1
Name: categories, dtype: int64

There are some categories here which are not related to our analysis. We will drop any rows associated with these categories below.

In [13]:
categories_to_drop = ['Food Safety Training','Food Trucks', 'Food Delivery Services',
                      'Food Stands', 'Food Court','Restaurant Supplies', 'Food Banks',
                      'Seafood Markets','Imported Food']

# Save the rows that are not categorized by the labels in categories_to_drop
restaurant_df = restaurant_df[~restaurant_df['categories'].isin(categories_to_drop)]
restaurant_df.shape

(100874, 14)

As mentioned earlier, the explode() method created duplicate rows for each business with unique category identifiers. Let's drop those duplicates now.

In [14]:
restaurant_df = restaurant_df.drop_duplicates(subset=['business_id'], ignore_index=True)
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",Food,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...",Restaurants,"{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...",Restaurants,"{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,Breakfast & Brunch,"{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}"
4,rYs_1pNB_RMtn5WQh55QDA,Chautauqua General Store,100 Clematis Dr,Boulder,CO,80302,39.998449,-105.281006,3.5,5,1,"{'BikeParking': 'True', 'RestaurantsTakeOut': ...",Food,"{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."

In [15]:
restaurant_df.shape

(64079, 14)

We now have 64,079 restaurants in this dataframe.

In [16]:
len(restaurant_df['business_id'].unique())

64079

In [17]:
%%time
restaurant_df = pd.concat([restaurant_df, restaurant_df['attributes'].apply(pd.Series)], axis=1).drop('attributes', axis=1)

CPU times: user 17.6 s, sys: 247 ms, total: 17.9 s
Wall time: 18 s

In [18]:
restaurant_df.shape

(64079, 52)

In [19]:
restaurant_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories', 'hours', 'RestaurantsTableService', 'WiFi', 'BikeParking',
       'BusinessParking', 'BusinessAcceptsCreditCards',
       'RestaurantsReservations', 'WheelchairAccessible', 'Caters',
       'OutdoorSeating', 'RestaurantsGoodForGroups', 'HappyHour',
       'BusinessAcceptsBitcoin', 'RestaurantsPriceRange2', 'Ambience', 'HasTV',
       'Alcohol', 'GoodForMeal', 'DogsAllowed', 'RestaurantsTakeOut',
       'NoiseLevel', 'RestaurantsAttire', 'RestaurantsDelivery', 'GoodForKids',
       'ByAppointmentOnly', 'Music', 'GoodForDancing', 'BestNights', 'BYOB',
       'CoatCheck', 'Smoking', 'DriveThru', 'BYOBCorkage', 'Corkage',
       'RestaurantsCounterService', 'AcceptsInsurance', 'DietaryRestrictions',
       'AgesAllowed', 'Open24Hours', 'HairSpecializesIn'],
      dtype='object')

In [20]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64079 entries, 0 to 64078
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 64079 non-null  object
 1   name                        64079 non-null  object
 2   address                     64079 non-null  object
 3   city                        64079 non-null  object
 4   state                       64079 non-null  object
 5   postal_code                 64079 non-null  object
 6   latitude                    64079 non-null  float64
 7   longitude                   64079 non-null  float64
 8   stars                       64079 non-null  float64
 9   review_count                64079 non-null  int64
 10  is_open                     64079 non-null  int64
 11  categories                  64079 non-null  object
 12  hours                       53647 non-null  object
 13  RestaurantsTableService     19311 non-null  object
 14  WiFi                        43174 non-null  object
 15  BikeParking                 44395 non-null  object
 16  BusinessParking             57761 non-null  object
 17  BusinessAcceptsCreditCards  51653 non-null  object
 18  RestaurantsReservations     44165 non-null  object
 19  WheelchairAccessible        16230 non-null  object
 20  Caters                      39943 non-null  object
 21  OutdoorSeating              47534 non-null  object
 22  RestaurantsGoodForGroups    42999 non-null  object
 23  HappyHour                   13929 non-null  object
 24  BusinessAcceptsBitcoin      7333 non-null   object
 25  RestaurantsPriceRange2      56354 non-null  object
 26  Ambience                    41672 non-null  object
 27  HasTV                       42082 non-null  object
 28  Alcohol                     42058 non-null  object
 29  GoodForMeal                 29268 non-null  object
 30  DogsAllowed                 13318 non-null  object
 31  RestaurantsTakeOut          56663 non-null  object
 32  NoiseLevel                  36895 non-null  object
 33  RestaurantsAttire           40552 non-null  object
 34  RestaurantsDelivery         52193 non-null  object
 35  GoodForKids                 43121 non-null  object
 36  ByAppointmentOnly           4996 non-null   object
 37  Music                       5704 non-null   object
 38  GoodForDancing              3912 non-null   object
 39  BestNights                  4534 non-null   object
 40  BYOB                        3420 non-null   object
 41  CoatCheck                   4290 non-null   object
 42  Smoking                     3586 non-null   object
 43  DriveThru                   6038 non-null   object
 44  BYOBCorkage                 3665 non-null   object
 45  Corkage                     3933 non-null   object
 46  RestaurantsCounterService   40 non-null     object
 47  AcceptsInsurance            69 non-null     object
 48  DietaryRestrictions         68 non-null     object
 49  AgesAllowed                 20 non-null     object
 50  Open24Hours                 32 non-null     object
 51  HairSpecializesIn           5 non-null      object
dtypes: float64(3), int64(2), object(47)
memory usage: 25.4+ MB

In [21]:
column_dictionaries = ['hours', 'BusinessParking', 'Ambience']

In [22]:
%%time

restaurant_df1 = restaurant_df.copy()
restaurant_df1.iloc[:,15:30]

CPU times: user 49.5 ms, sys: 3.16 ms, total: 52.7 ms
Wall time: 50.8 ms

,BikeParking,BusinessParking,BusinessAcceptsCreditCards,RestaurantsReservations,WheelchairAccessible,Caters,OutdoorSeating,RestaurantsGoodForGroups,HappyHour,BusinessAcceptsBitcoin,RestaurantsPriceRange2,Ambience,HasTV,Alcohol,GoodForMeal
0,True,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,True,True,False,2,"{'touristy': False, 'hipster': False, 'romanti...",True,'beer_and_wine',"{'dessert': False, 'latenight': False, 'lunch'..."
1,False,"{'garage': True, 'street': False, 'validated':...",True,False,NaN,True,False,False,NaN,NaN,2,"{'romantic': False, 'intimate': False, 'touris...",False,u'beer_and_wine',"{'dessert': False, 'latenight': False, 'lunch'..."
2,True,"{'garage': False, 'street': True, 'validated':...",NaN,True,NaN,False,False,True,NaN,NaN,2,"{'romantic': False, 'intimate': False, 'classy...",False,u'none',"{'dessert': False, 'latenight': False, 'lunch'..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,"{'garage': False, 'street': True, 'validated':...",True,NaN,True,False,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64074,True,"{'garage': False, 'street': False, 'validated'...",True,False,True,True,True,True,True,NaN,2,"{'touristy': False, 'hipster': False, 'romanti...",True,u'full_bar',"{'dessert': None, 'latenight': False, 'lunch':..."
64075,True,"{'garage': False, 'street': False, 'validated'...",True,False,NaN,True,True,True,NaN,NaN,2,"{'touristy': False, 'hipster': False, 'romanti...",True,'beer_and_wine',"{'dessert': False, 'latenight': True, 'lunch':..."
64076,True,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
64077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
64078,True,"{'garage': False, 'street': False, 'validated'...",True,True,True,True,True,True,NaN,NaN,2,"{'romantic': False, 'intimate': False, 'classy...",False,u'beer_and_wine',"{'dessert': False, 'latenight': False, 'lunch'..."

### Expand the hours column

In [23]:
restaurant_df1 = pd.concat([restaurant_df1, restaurant_df1['hours'].apply(pd.Series)], axis=1).drop('hours', axis=1)

In [24]:
restaurant_df1.iloc[:,12:]

,RestaurantsTableService,WiFi,BikeParking,BusinessParking,BusinessAcceptsCreditCards,RestaurantsReservations,WheelchairAccessible,Caters,OutdoorSeating,RestaurantsGoodForGroups,...,AgesAllowed,Open24Hours,HairSpecializesIn,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,True,u'free',True,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,True,...,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,NaN,u'free',False,"{'garage': True, 'street': False, 'validated':...",True,False,NaN,True,False,False,...,NaN,NaN,NaN,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,NaN,u'no',True,"{'garage': False, 'street': True, 'validated':...",NaN,True,NaN,False,False,True,...,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0
4,NaN,NaN,True,"{'garage': False, 'street': True, 'validated':...",True,NaN,True,False,NaN,NaN,...,NaN,NaN,NaN,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64074,True,u'free',True,"{'garage': False, 'street': False, 'validated'...",True,False,True,True,True,True,...,NaN,NaN,NaN,0:0-0:0,9:0-21:0,9:0-21:0,9:0-21:0,9:0-21:30,9:0-21:30,9:0-21:0
64075,False,u'no',True,"{'garage': False, 'street': False, 'validated'...",True,False,NaN,True,True,True,...,NaN,NaN,NaN,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0,0:0-0:0
64076,NaN,NaN,True,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,10:0-18:0,9:0-17:0,NaN
64077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64078,True,u'free',True,"{'garage': False, 'street': False, 'validated'...",True,True,True,True,True,True,...,NaN,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,11:30-21:0,12:0-19:30

In [25]:
restaurant_df2 = restaurant_df1.copy()

# Verfiy
restaurant_df2.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,AgesAllowed,Open24Hours,HairSpecializesIn,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,...,NaN,NaN,NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0
4,rYs_1pNB_RMtn5WQh55QDA,Chautauqua General Store,100 Clematis Dr,Boulder,CO,80302,39.998449,-105.281006,3.5,5,...,NaN,NaN,NaN,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0,8:0-20:0

In [26]:
restaurant_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64079 entries, 0 to 64078
Data columns (total 58 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 64079 non-null  object
 1   name                        64079 non-null  object
 2   address                     64079 non-null  object
 3   city                        64079 non-null  object
 4   state                       64079 non-null  object
 5   postal_code                 64079 non-null  object
 6   latitude                    64079 non-null  float64
 7   longitude                   64079 non-null  float64
 8   stars                       64079 non-null  float64
 9   review_count                64079 non-null  int64
 10  is_open                     64079 non-null  int64
 11  categories                  64079 non-null  object
 12  RestaurantsTableService     19311 non-null  object
 13  WiFi                        43174 non-null  object
 14  BikeParking                 44395 non-null  object
 15  BusinessParking             57761 non-null  object
 16  BusinessAcceptsCreditCards  51653 non-null  object
 17  RestaurantsReservations     44165 non-null  object
 18  WheelchairAccessible        16230 non-null  object
 19  Caters                      39943 non-null  object
 20  OutdoorSeating              47534 non-null  object
 21  RestaurantsGoodForGroups    42999 non-null  object
 22  HappyHour                   13929 non-null  object
 23  BusinessAcceptsBitcoin      7333 non-null   object
 24  RestaurantsPriceRange2      56354 non-null  object
 25  Ambience                    41672 non-null  object
 26  HasTV                       42082 non-null  object
 27  Alcohol                     42058 non-null  object
 28  GoodForMeal                 29268 non-null  object
 29  DogsAllowed                 13318 non-null  object
 30  RestaurantsTakeOut          56663 non-null  object
 31  NoiseLevel                  36895 non-null  object
 32  RestaurantsAttire           40552 non-null  object
 33  RestaurantsDelivery         52193 non-null  object
 34  GoodForKids                 43121 non-null  object
 35  ByAppointmentOnly           4996 non-null   object
 36  Music                       5704 non-null   object
 37  GoodForDancing              3912 non-null   object
 38  BestNights                  4534 non-null   object
 39  BYOB                        3420 non-null   object
 40  CoatCheck                   4290 non-null   object
 41  Smoking                     3586 non-null   object
 42  DriveThru                   6038 non-null   object
 43  BYOBCorkage                 3665 non-null   object
 44  Corkage                     3933 non-null   object
 45  RestaurantsCounterService   40 non-null     object
 46  AcceptsInsurance            69 non-null     object
 47  DietaryRestrictions         68 non-null     object
 48  AgesAllowed                 20 non-null     object
 49  Open24Hours                 32 non-null     object
 50  HairSpecializesIn           5 non-null      object
 51  Monday                      48096 non-null  object
 52  Tuesday                     50155 non-null  object
 53  Wednesday                   51903 non-null  object
 54  Thursday                    52656 non-null  object
 55  Friday                      52896 non-null  object
 56  Saturday                    51170 non-null  object
 57  Sunday                      44909 non-null  object
dtypes: float64(3), int64(2), object(53)
memory usage: 28.4+ MB

In [27]:
import json

In [28]:
%%time

nested_columns = ['Ambience', 'BusinessParking']

for col in nested_columns:
    
    for i in range(0,len(restaurant_df2[col])):

        
        if isinstance(restaurant_df2.loc[i,col], str):
            
            string = restaurant_df2.loc[i, col].replace("'", '"').replace("False", "0").replace("None", "0").replace("True", "1")

            dictionary = json.loads(string)

            restaurant_df2.loc[i,col] = [dictionary]


        else:
            pass
            
    restaurant_df2 = pd.concat([restaurant_df2, restaurant_df2[col].apply(pd.Series)], axis=1).drop([col, 0], axis=1)

CPU times: user 6min 32s, sys: 3.31 s, total: 6min 36s
Wall time: 6min 38s

In [29]:
restaurant_df2

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,intimate,romantic,touristy,trendy,upscale,garage,lot,street,valet,validated
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,rYs_1pNB_RMtn5WQh55QDA,Chautauqua General Store,100 Clematis Dr,Boulder,CO,80302,39.998449,-105.281006,3.5,5,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64074,Q78fYV6B6P6GmX07YVgi4g,Maudie’s Hill Country,12506 Shops Pkwy,Bee Cave,TX,78738,30.304761,-97.937394,3.0,310,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
64075,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
64076,bQX-kwVTyZgcdZGEPzce6Q,Webb's Honey,21777 State Rd 520,Orlando,FL,32833,28.499836,-81.047478,4.5,18,...,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0
64077,GB75wPibj3IjNauaoCxyGA,Havana Cafe,910 NW 14th St,Portland,OR,97209,45.529647,-122.685153,4.0,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64078,ngmLL5Y5OT-bYHKU0kKrYA,Zora Grille,1370 E Altamonte Dr,Altamonte Springs,FL,32701,28.663047,-81.346728,4.5,82,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [30]:
restaurant_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64079 entries, 0 to 64078
Data columns (total 70 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 64079 non-null  object
 1   name                        64079 non-null  object
 2   address                     64079 non-null  object
 3   city                        64079 non-null  object
 4   state                       64079 non-null  object
 5   postal_code                 64079 non-null  object
 6   latitude                    64079 non-null  float64
 7   longitude                   64079 non-null  float64
 8   stars                       64079 non-null  float64
 9   review_count                64079 non-null  int64
 10  is_open                     64079 non-null  int64
 11  categories                  64079 non-null  object
 12  RestaurantsTableService     19311 non-null  object
 13  WiFi                        43174 non-null  object
 14  BikeParking                 44395 non-null  object
 15  BusinessAcceptsCreditCards  51653 non-null  object
 16  RestaurantsReservations     44165 non-null  object
 17  WheelchairAccessible        16230 non-null  object
 18  Caters                      39943 non-null  object
 19  OutdoorSeating              47534 non-null  object
 20  RestaurantsGoodForGroups    42999 non-null  object
 21  HappyHour                   13929 non-null  object
 22  BusinessAcceptsBitcoin      7333 non-null   object
 23  RestaurantsPriceRange2      56354 non-null  object
 24  HasTV                       42082 non-null  object
 25  Alcohol                     42058 non-null  object
 26  GoodForMeal                 29268 non-null  object
 27  DogsAllowed                 13318 non-null  object
 28  RestaurantsTakeOut          56663 non-null  object
 29  NoiseLevel                  36895 non-null  object
 30  RestaurantsAttire           40552 non-null  object
 31  RestaurantsDelivery         52193 non-null  object
 32  GoodForKids                 43121 non-null  object
 33  ByAppointmentOnly           4996 non-null   object
 34  Music                       5704 non-null   object
 35  GoodForDancing              3912 non-null   object
 36  BestNights                  4534 non-null   object
 37  BYOB                        3420 non-null   object
 38  CoatCheck                   4290 non-null   object
 39  Smoking                     3586 non-null   object
 40  DriveThru                   6038 non-null   object
 41  BYOBCorkage                 3665 non-null   object
 42  Corkage                     3933 non-null   object
 43  RestaurantsCounterService   40 non-null     object
 44  AcceptsInsurance            69 non-null     object
 45  DietaryRestrictions         68 non-null     object
 46  AgesAllowed                 20 non-null     object
 47  Open24Hours                 32 non-null     object
 48  HairSpecializesIn           5 non-null      object
 49  Monday                      48096 non-null  object
 50  Tuesday                     50155 non-null  object
 51  Wednesday                   51903 non-null  object
 52  Thursday                    52656 non-null  object
 53  Friday                      52896 non-null  object
 54  Saturday                    51170 non-null  object
 55  Sunday                      44909 non-null  object
 56  casual                      41224 non-null  float64
 57  classy                      41224 non-null  float64
 58  divey                       37649 non-null  float64
 59  hipster                     40944 non-null  float64
 60  intimate                    41224 non-null  float64
 61  romantic                    41224 non-null  float64
 62  touristy                    41224 non-null  float64
 63  trendy                      41224 non-null  float64
 64  upscale                     41082 non-null  float64
 65  garage                      56875 non-null  float64
 66  lot                         56873 non-null  float64
 67  street                      56873 non-null  float64
 68  valet                       56875 non-null  float64
 69  validated                   56873 non-null  float64
dtypes: float64(17), int64(2), object(51)
memory usage: 34.2+ MB

In [31]:
missing_value_columns = (restaurant_df2.isna().sum()/restaurant_df2.shape[0]*100).sort_values(ascending=False)
missing_value_columns

HairSpecializesIn            99.992197
AgesAllowed                  99.968789
Open24Hours                  99.950062
RestaurantsCounterService    99.937577
DietaryRestrictions          99.893881
                               ...
postal_code                   0.000000
state                         0.000000
city                          0.000000
address                       0.000000
business_id                   0.000000
Length: 70, dtype: float64

In [32]:
restaurant_df2.to_csv('../data/restaurants.csv')